.ant-select.serchPanel_select.ant-select-lg.ant-select-single.ant-select-show-arrow,
.ant-select.serchPanel_autoComplete.ant-select-auto-complete.ant-select-lg.ant-select-single.ant-select-show-search {
    width: 100%;
}

.ant-col.ant-col-3.serchPanel_checkbox {
    display    : flex;
    align-items: center;
}


.ant-btn.serchPanel_button.ant-btn-link {
    display    : block;
    padding-top: 10%;
}